[submodule "themes/hugo-bearblog-neo"]
	path = themes/hugo-bearblog-neo
	url = https://github.com/rokcso/hugo-bearblog-neo.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
